body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

li a, .header .text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    background-color: #1F2937;
    padding: 5px 200px 200px 200px;
    display: flex;
    flex-direction: column;
    
      
}

.header .hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;   
}

a.button {
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 15px 5px 15px;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    
    
}

.header .h-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
}

.image {
    flex: 0 1 auto;
    
}

.container {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: space-between;    
}

.header .h-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    flex:1 ;
    justify-content: space-between;
    max-width: 641px;    
}


.information-header {
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/* {
    border: 1px solid red;
}
