body {
    margin: 0;
    box-sizing: border-box;
}

/*First section styling*/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

li a, .header .text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header {
    background-color: #1F2937;
    padding-top: 5px;
    padding-bottom: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
          
}

.header .hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;   
}

a.button {
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 15px 5px 15px;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    display: inline-block;    
}

/*Flexbox stuff*/

/*Contains entire page, used instead of applying styles to body*/

.wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}

/*First section layout*/

/*Contains image*/

.image {
    max-width: 50%;    
}

img {
    width: 100%;
    height: 100%;
}

/*Contains text, button, and image*/

.container {
    display: flex;
    width: 80%;
    gap: 30px;
    justify-content: space-between;
}

/*Contains logo and links*/

.h-top {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 80px;
}

/*Contains text and button*/

.h-text {
    display: flex;
    flex-flow: row wrap;
    max-width: 50%;
    align-content: space-between;
    gap: 20px;
}

/*Second section*/

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

/* "Some random information*/

.information-header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/*Images and information*/

.information {
    display: flex;
    justify-content: center; 
    max-width: 60%;
    gap: 40px;    
}

.information .info-image {
    text-align: center;
    max-width: 25%;
    max-height: 50%;    
}

.info-image img {
    border-radius: 15px;
}


/*Quote section*/

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    width: 50%;
}

.quote-source {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-top: -15px;
    
}

/* Call to action section*/

.call-to-action {
    background-color: #3882F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    align-self: center;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 15px;
    
}

.call-to-action-head{
    font-weight: bold;
    color: #F9FAF8;
    font-size: 18px;
    letter-spacing: 1px;
}

.call-to-action-subtext{
    color: #F9FAF8;
    margin-top: -15px;

}

/*Contains button in call to action section*/

.button .button2{
    border: 2px solid white;    
}

.call-to-action .button{
    flex-shrink: 0;
}

/*Contains text only in action section*/

.action-text{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    width: 75%;
    
         
}

/* Contains button and text in call to action section*/

.call-to-action .action-container{
    width: 60%;
    display: flex;   
    align-items: center; 
    gap: 30px;
}

/*This is for debugging, leave commented*/

/* {
    border: 1px solid red;
}
